.Input-component 
{
  background-color: #282c34;
  color: #ffffff;

  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#nameInput
{
  margin-right: 3pt;
  text-align: center;
}

#dateInput
{
  color:rgb(94, 13, 171);
}

#addBtn
{
  margin-top: 3pt;
  inline-size: 257pt;
}
